---
# Homebrew installer and dependencies
- name: Install baseline homebrew packages
  homebrew:
    name:
      - python3
      - npm
      - nmap
      - tree
      - wget
      - wireguard-tools
      - jq
      - azure-cli
      - mas
    update_homebrew: true
    upgrade_all: true

- name: Install baseline homebrew cask packages
  homebrew_cask:
    name:
      - visual-studio-code
      - intune-company-portal
      - microsoft-edge
      - microsoft-office
      - microsoft-teams
      - microsoft-remote-desktop
      - 1password
      - 1password-cli
      - homebrew/cask-drivers/yubico-yubikey-manager
      - jetbrains-toolbox
      - firefox
      - wireshark
      - docker
      - boxcryptor
      - dropbox
      - adobe-acrobat-reader
      - obsidian
      - raspberry-pi-imager

    install_options: force
    sudo_password: "{{ laptop_pwd }}"

- name: pip baseline packages
  pip:
    executable: pip3
    name:
      - ansible>=4.3.0
      - ansible-lint>=5.1.2
      - pandas>=1.3.2
      - Sphinx>=4.1.2
    extra_args: --upgrade

# https://www.activestate.com/resources/quick-reads/how-to-update-all-python-packages/
# To upgrade all packages:
# pip3 list --outdated --format=freeze | grep -v '^\-e' | cut -d = -f 1 | xargs -n1 pip3 install -U

- name: macOS Software Update
  shell: softwareupdate -iaR
  become: yes
  register: osupdate_status
  changed_when: 'osupdate_status.stderr != "No updates are available."'