---
# zprofile baseline
- name: Ensure jetbrains dir exist
  file:
    path: ~/.jetbrains
    state: directory

- name: Ensure venv dir exist in Documents
  file:
    path: ~/Documents/venv
    state: directory

- name: Ensure git dir exist in Dropbox Home Dir
  file:
    path: /Volumes/Secomba/{{ ansible_user_id }}/Boxcryptor/{{ dropbox_root_name }}/{{ dropbox_home_name }}/git
    state: directory

- name: Homebrew eval for m1 Macs
  lineinfile:
    line: eval "$(/opt/homebrew/bin/brew shellenv)"
    path: ~/.zprofile
    create: yes
  when: ansible_architecture == 'arm64'

- name: Additional zprofile baseline
  blockinfile:
    block: |
      export PATH=~/.jetbrains:$PATH
      export VENV_DIR="$HOME/Documents/venv"
      export BOX="/Volumes/Secomba/{{ ansible_user_id }}/Boxcryptor/{{ dropbox_root_name }}"

      function pj-update {
        cd ~/.config/bootstrap-mac
        ./run.sh
      }

      function gitd {
          cd "$BOX/{{ dropbox_home_name }}/git/"
      }

      function venv {
          CURRENT_DIR=`basename "$PWD"`
          if [ ! -d "$VENV_DIR" ];then
              mkdir -p $VENV_DIR
          fi
          rm -Rv "$VENV_DIR/$CURRENT_DIR"
          python3 -m venv "$VENV_DIR/$CURRENT_DIR" --system-site-packages
          source "$VENV_DIR/$CURRENT_DIR/bin/activate"
          pip install --upgrade pip
          pip install -r requirements.txt
      }
    path: ~/.zprofile
    marker: "### {mark} PJ zprofile baseline ###"
    create: yes
