---
# Homebrew installer and dependencies
- name: Homebrew path
  block:
    - name: Where is homebrew installed?
      shell: which brew | cut -d "/" -f 1-3
      register: homebrew_check
      changed_when: false
    - name: Set homebrew path
      set_fact:
        homebrew_path: "{{ homebrew_check.stdout }}"

- name: Determine if env.yml exist
  block:
    - name: Does env.yml exist
      stat:
        path: env.yml
      register: env_checker
    - name: envyml fact
      set_fact:
        envyml: "{{ env_checker.stat.exists }}"

- name: Get serial number of mac localhost
  block:
    - name: Use ioreg to get Mac SN
      shell: ioreg -c IOPlatformExpertDevice -d 2 | awk -F\" '/IOPlatformSerialNumber/{print $(NF-1)}' | sed 's/^[ \t]*//;s/[ \t]*$//'
      register: content_of_mac_serial_num
      changed_when: false
    - name: Set host_serial
      set_fact:
        host_serial: "{{content_of_mac_serial_num.stdout}}"

- name: Determine if SSH is running
  block:
    - name: Use launchctl to determine if sshd is running
      shell: launchctl list | grep ssh
      become: yes
      register: ssh_check
      failed_when: false
      changed_when: false
    - name: Set ssh_status
      set_fact:
        ssh_status: "{{ ssh_check.rc }}"
  when: envyml

- name: Determine if Dropbox is setup
  shell: |
    cat ~/.dropbox/info.json | jq '.business.root_path' -r
    cat ~/.dropbox/info.json | jq '.business.root_path' -r | grep -o '[^/]*$'
    cat ~/.dropbox/info.json | jq '.business.path' -r
    cat ~/.dropbox/info.json | jq '.business.path' -r | grep -o '[^/]*$'
  register: dropbox
  changed_when: false
  failed_when: false

- name: Set Dropbox Facts
  set_fact:
    dropbox_root: "{{ dropbox.stdout_lines[0]}}"
    dropbox_root_name: "{{ dropbox.stdout_lines[1]}}"
    dropbox_home: "{{ dropbox.stdout_lines[2]}}"
    dropbox_home_name: "{{ dropbox.stdout_lines[3]}}"
  when: dropbox
  changed_when: false

- name: Determine if Boxcryptor is setup
  shell: file ~/Boxcryptor
  register: boxcryptor
  changed_when: false